<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
    <target xsi:type="AsyncWrapper"
            name="asyncFile"
            queueLimit="5000"
            overflowAction="Grow">
      <target xsi:type="File"
              name="applicationFile"
              fileName="${basedir}/logs/application.log"
              archiveAboveSize="5242880"
              archiveSuffixFormat="_{1:yyyyMMdd}_{0:00}"
              maxArchiveFiles="30"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>
